In [1]:
import  pandas as pd

In [2]:
dataset_train = pd.read_csv('Google_Stock_Price_Train.csv', 
                            index_col=0 )

In [3]:
dataset_train

              Open    High     Low   Close      Volume
Date
1/3/2012    325.25  332.83  324.97  663.59   7,380,500
1/4/2012    331.27  333.87  329.08  666.45   5,749,400
1/5/2012    329.83  330.75  326.89  657.21   6,590,300
1/6/2012    328.34  328.77  323.68  648.24   5,405,900
1/9/2012    322.04  322.29  309.46  620.76  11,688,800
...            ...     ...     ...     ...         ...
12/23/2016  790.90  792.74  787.28  789.91     623,400
12/27/2016  790.68  797.86  787.66  791.55     789,100
12/28/2016  793.70  794.23  783.20  785.05   1,153,800
12/29/2016  783.33  785.93  778.92  782.79     744,300
12/30/2016  782.75  782.78  770.41  771.82   1,770,000

[1258 rows x 5 columns]

In [ ]:
dataset_test = pd.read_csv('Google_Stock_Price_Test.csv', index_col=0)

In [ ]:
dataset_test

In [4]:
training_set = dataset_train[ ['Open']  ]

In [5]:
training_set

              Open
Date
1/3/2012    325.25
1/4/2012    331.27
1/5/2012    329.83
1/6/2012    328.34
1/9/2012    322.04
...            ...
12/23/2016  790.90
12/27/2016  790.68
12/28/2016  793.70
12/29/2016  783.33
12/30/2016  782.75

[1258 rows x 1 columns]

In [ ]:
type(training_set)

In [ ]:
type(training_set)

In [ ]:
training_set.plot()

In [ ]:
real_stock_price = dataset_test[ [ 'Open']  ]

In [ ]:
real_stock_price.plot()

In [ ]:
type(training_set)

In [ ]:
training_set.shape

In [ ]:
len(training_set)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
sc  =  MinMaxScaler(feature_range=(0,1))

In [ ]:
training_set_scaled = sc.fit_transform(training_set)

In [ ]:
training_set_scaled

In [ ]:
len(training_set_scaled)

In [ ]:
training_set_scaled[0:60, 0]

In [ ]:
training_set_scaled[60, 0]

In [ ]:
y_train = training_set_scaled[0, 0]

In [ ]:
X_train = []

In [ ]:
y_train = []

In [ ]:
for i in range(60, 1258):
    X_train.append(training_set_scaled[i-60:i, 0])
    y_train.append(training_set_scaled[i, 0])

In [ ]:
type(y_train)

In [ ]:
import numpy as np

In [ ]:
X_train = np.array(X_train)

In [ ]:
y_train = np.array(y_train)

In [ ]:
type(X_train)

In [ ]:
X_train.shape

In [ ]:
X_train = np.reshape(X_train , (X_train.shape[0]  ,  
                                X_train.shape[1], 1 ))

In [ ]:
y_train.shape

In [ ]:
from  keras.models import Sequential

In [ ]:
from keras.layers import Dense

In [ ]:
from keras.layers import LSTM

In [ ]:
model = Sequential()

In [ ]:
model.add(LSTM(units=60 , return_sequences= True ,
               input_shape = ( X_train.shape[1] ,1)))

In [ ]:
model.layers

In [ ]:
model.add(LSTM(units=60 , return_sequences= True ))

In [ ]:
model.add(LSTM(units=60 ))

In [ ]:
model.add(Dense(units=1))

In [ ]:
model.layers

In [ ]:
model.compile(optimizer='adam', loss = 'mean_squared_error')

In [ ]:
model.fit(X_train, y_train, epochs=100)

In [ ]:
model.get_weights